**/node_modules
**/.next
*.tgz
TODO
*.env

# Frontend env files
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production

# API env files
api/.env
api/.env.local

# Agent env files
agent/.env
